// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #507256;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-shade: #4c6052;
  --ion-color-primary-tint: #668e7b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-background-color: var(--ion-color-dark);
  --ion-toolbar-background: var(--ion-color-dark);
  --ion-overlay-background-color: var(--ion-color-dark);
  --ion-text-color: #fff;
}

