<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="light">
        ログイン方法を選んでください
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-button expand="block" (click)="loginWithGoogle()">Google</ion-button>
        <ion-button expand="block" fill="outline" (click)="loginAsAnonymous()">おためしログイン</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
