<ion-list>
  <ion-reorder-group [disabled]="false" (ionItemReorder)="reorder($event)">
    <ng-container *ngFor="let item of list">
      <ion-item class="honshitsu-item">
        <ion-avatar item-start>{{item.value}}</ion-avatar>
        <div (click)="updateHonshitsu(item)">{{item.title}}</div>
        <ion-button (click)="complete(item)" shape="round" slot="start">
          <ion-icon name="checkmark"></ion-icon>
        </ion-button>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ng-container>
  </ion-reorder-group>
</ion-list>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button (click)="newHonshitsu($event)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
