<category-menu
  [categories]="categories$ | async"
  (create)="createCategory($event)"
  (update)="updateCategory($event)"
  (remove)="removeCategory($event)"
  ></category-menu>

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ng-container *ngIf="category$ | async as category; else defaultTitle">{{ category.name }}</ng-container>
      <ng-template #defaultTitle>本質</ng-template>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/config"><ion-icon name="settings"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="menuContent">
  <honshitsu-list
    [list]="list$ | async"
    [categoryId]="categoryId$ | async"
    (create)="createHonshitsu($event)"
    (update)="updateHonshitsu($event)"
    (remove)="removeHonshitsu($event)"
    ></honshitsu-list>
</ion-content>
