<ion-menu contentId="menuContent">
  <ion-header>
    <ion-toolbar>
      カテゴリ一覧
      <ion-buttons slot="end">
        <ion-button (click)="editing = !editing">
          <ion-icon name="checkmark" *ngIf="editing"></ion-icon>
          <ion-icon name="create" *ngIf="!editing"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerLink]="['/']">
        本質
      </ion-item>
      <ion-reorder-group [disabled]="editing" (ionItemReorder)="reorder($event)">
        <div class="menu-item" *ngFor="let category of categories">
          <ion-item [routerLink]="['/categories/' + category.id]" *ngIf="!editing">
            {{ category.name }}
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
          <ion-item *ngIf="editing" (click)="updateCategory(category)">
            {{ category.name }}
            <ion-button slot="end" (click)="removeCategory(category)"><ion-icon name="trash"></ion-icon></ion-button>
          </ion-item>
        </div>
      </ion-reorder-group>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-toolbar class="menu-footer" (click)="newCategory()">
      <ion-icon name="add"></ion-icon>
    </ion-toolbar>
  </ion-footer>
</ion-menu>
